
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

@font-face {
	font-family: 'unicons';
	src: url('unicons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
:root {
    --bg-color: #011641;
	--color-bg1: rgb(108, 0, 162);
	--color-bg2: rgb(0, 17, 82);
	--color1: 18, 113, 255;
	--color2: 221, 74, 255;
	--color3: 100, 220, 255;
	--color4: 200, 50, 50;
	--color5: 180, 180, 50;
	--color-interactive: 140, 100, 255;
	--circle-size: 80%;
	--blending: hard-light;
	--blur-border: 0 0 0 0.5px white;
}
/* html {
    scroll-behavior: smooth;
} */

html, body {
    background-color: var(--bg-color);
    color: aliceblue;
    font-family: 'Changa', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
  }
}
.front {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	position: relative;
    z-index: 100;
	scroll-behavior: smooth;
	&::-webkit-scrollbar {
		display: none;
	}
}
nav {
    padding-top: 20px;
    padding-bottom: 20px;
}
nav ul {
    padding: 0;
    display: flex;
    justify-content: space-around;

}

nav > ul > li {
    list-style-type: none;
    display: inline-block;
}
nav > ul > li > a {
    color: white;
    text-decoration: none;
}


/* Percentage Progress Bar goes here*/
.percentage-scrollbar {
	--progress: 0;
	height: 3px;
	width: var(--progress);
	background-color: white;
	position: fixed;
	border-radius: 15%;
}

/* Headline */
.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.headline h1 {
    font-size: 140px;
    margin: 0px;
    line-height: 1;
}
.headline p {
    max-width: 400px;
    margin: 0px;
}
.headline a {
    text-decoration: none;
    color:white;
}

/* Small Cards inside hero section*/
.small-cards {
    display: flex;
    justify-content: space-around;
    margin: 30px 40px;

}

.small-cards > h1 {
	font-size: 25px;
	box-shadow: none;
	padding: 0;
	letter-spacing: 10px;
	margin-top: 30px;
}
.small-cards div {
    width: 350px;
    text-align: center;
    box-shadow: var(--blur-border);
    padding: 5px 10px;
    line-height: 1;
	h1 {
		letter-spacing: normal;
	}
}

/* Contests section */
.contests {
    display: flex;
    flex-direction: column;
    margin: 40px;
    align-items: center;

	.show-button {
		text-decoration: none;
		color: white;
	}
}
.contests h1 {
    font-size: 70px;
}
.contests table th, td {
	display: table-cell;
    box-shadow: 0 0.2px white;
    text-align: left;
	transition: 1s;
	padding: 0 30px;
}
.contest-table {
	padding: 0 40px;
}
/* Prizes Section*/
.prizes {
    display: flex;
    flex-direction: column;
    margin: 40px;
    align-items: center;
    
}
.prizes .title {
    font-size: 70px;
}
.prize-wrapper {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    max-width: 80%;
    -webkit-overflow-scrolling: touch;
    .prize {
        text-align: center;
        max-width: 20%;
        box-shadow: var(--blur-border);
        padding: 5px 10px;
        margin: 10px;
        line-height: 1;
        flex: 0 0 auto;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}
.prize-wrapper:hover {
    cursor: grab;
    
}

/* Apply Section */
.apply {
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    .apply-form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        
        .title {
            line-height: 1;
            font-size: 70px;
        }
        .form .user-field {
            position: relative;
        }
        .form .user-field input {
            width: 100%;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            margin-bottom: 30px;
            border: none;
            box-shadow: 0 0.2px white;
            outline: none;
            background: transparent;
        }
        .form .user-field label {
            position: absolute;
            top:0;
            left: 0;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            pointer-events: none;
            transition: .5s;
        }
        .form .user-field input:focus ~ label,
        .form .user-field input:valid ~ label {
            top: -20px;
            left: 0;
            color: #d0cccc;
            font-size: 12px;
        }
		.form a {
			box-shadow: var(--blur-border);
			padding: 5px 20px;
			font-size: 16px;
			background: transparent;
			outline: none;
			color: white;
			text-decoration: none;
		}
		.form a:hover {
			transition: 1s;
			box-shadow: none;
		}
    }
}
/* Morph Animation Here*/

  
  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }
  .gradient-bg {
	width: 100vw;
	height: 100vh;
    position: absolute;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    top: 0;
    left: 0;
    z-index: 1;
  }
  .gradient-bg svg {
    display: none;
  }
  .gradient-bg .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }
  .gradient-bg .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: center center;
    animation: moveVertical 30s ease infinite;
    opacity: 1;
  }
  .gradient-bg .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
    opacity: 1;
  }
  .gradient-bg .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);
    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;
    opacity: 1;
  }
  .gradient-bg .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;
    opacity: 0.7;
  }
  .gradient-bg .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));
    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;
    opacity: 1;
  }
  .gradient-bg .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    opacity: 0.7;
  }
  /*# sourceMappingURL=morph.css.map */

  /* Scroll To Top Secction */
.progress-wrap {
    position: fixed;
    right: 40px;
    bottom: 40px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.progress-wrap::after {
    position: absolute;
    font-family: 'unicons';
    content: '\e84b';
    text-align: center;
    line-height: 50px;
    font-size: 26px;
    color: #ecedf3;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap:hover::after {
    opacity: 0;
}

.progress-wrap::before {
    position: absolute;
    font-family: 'unicons';
    content: '\e84b';
    text-align: center;
    line-height: 50px;
    font-size: 26px;
    opacity: 0;
    background: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: block;
    z-index: 100;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap:hover::before {
    opacity: 1;
}

.progress-wrap svg path {
    fill: none;
}

.progress-wrap svg.progress-circle path {
    stroke: #ecedf3;
    stroke-width: 4;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

/* Animate On Scroll Down*/
.hidden {
	opacity: 0;
	transform: translatex(-100%);
	transition: all 4s;
}
.show {
	opacity: 1;
	transform: translatex(0);
}
@media(preferes-reduced-motion) {
	.hidden {
		transition: none;
	}
}